{% extends "MiAppMedicos/TempBaseCargaDatos.html" %}

{% load static %}

{% block title %} Formulario para consultar turnos {% endblock title %}

{% block main %}
       
<h2>Editar y Borrar Medico</h2>
    <ul>
        {% for MedicoModels in MBMedicos %}
            <li>{{ MedicoModels.nombre}} | {{ MedicoModels.apellido}} | {{ MedicoModels.matricula}} | {{ MedicoModels.profesion}}
                <a href ="{% url 'EditaMedico' MedicoModels.id %}">Editar</a>
                <a href ="{% url 'BorraMedico' MedicoModels.id %}">Borrar</a>
            </li>
        {% endfor %}
    </ul>

{% endblock main %}
